@import 'styles/main.scss';

.wrapper {
  @include container(column, flex-start, flex-start);
  padding: 10px 5px;
  width: 20vw;
  min-width: 20%;
  max-width: 20%;
  height: 14vw;

  .image {
    width: 100%;
    height: 80%;
    background-color: green;
  }

  .title {
    width: 100%;
    height: 20%;
    background-color: grey;
  }
}
